<div class="success-state" *ngIf="showSuccess">
  <div class="icon-circle">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="48"
      height="48"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <polyline points="20 6 9 17 4 12"></polyline>
    </svg>
  </div>
  <h3>Salvo com Sucesso!</h3>
  <p>Os dados foram registrados.</p>
</div>

<div class="form-container" *ngIf="!showSuccess">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Nome do Laboratório:</label>
      <input
        formControlName="name"
        placeholder="Ex: Lab de Informática 01"
        [class.error]="form.get('name')?.invalid && form.get('name')?.touched"
      />
      <small
        class="error-msg"
        *ngIf="form.get('name')?.invalid && form.get('name')?.touched"
      >
        Nome é obrigatório (mínimo 3 caracteres).
      </small>
    </div>

    <div class="form-row">
      <div class="form-group half">
        <label>Bloco:</label>
        <input
          formControlName="building"
          placeholder="Ex: H1"
          [class.error]="
            form.get('building')?.invalid && form.get('building')?.touched
          "
        />
        <small
          class="error-msg"
          *ngIf="form.get('building')?.invalid && form.get('building')?.touched"
        >
          Obrigatório.
        </small>
      </div>

      <div class="form-group half">
        <label>Sala:</label>
        <input
          formControlName="room"
          placeholder="Ex: 12"
          [class.error]="form.get('room')?.invalid && form.get('room')?.touched"
        />
        <small
          class="error-msg"
          *ngIf="form.get('room')?.invalid && form.get('room')?.touched"
        >
          Obrigatório.
        </small>
      </div>
    </div>

    <div class="form-group">
      <label>Capacidade (pessoas):</label>
      <input
        type="number"
        formControlName="capacity"
        [class.error]="
          form.get('capacity')?.invalid && form.get('capacity')?.touched
        "
      />
      <small
        class="error-msg"
        *ngIf="form.get('capacity')?.invalid && form.get('capacity')?.touched"
      >
        A capacidade deve ser no mínimo 1.
      </small>
    </div>

    <div class="actions">
      <button
        type="button"
        class="btn-cancel"
        (click)="onCancel()"
        [disabled]="isSubmitting"
      >
        Cancelar
      </button>

      <button
        type="submit"
        class="btn-save"
        [disabled]="form.invalid || isSubmitting"
      >
        <span *ngIf="!isSubmitting">{{
          labData ? "Salvar Alterações" : "Criar Laboratório"
        }}</span>
        <span *ngIf="isSubmitting">Salvando...</span>
      </button>
    </div>
  </form>
</div>
