<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h4 class="section-title">Dados Pessoais</h4>

    <div class="input-group">
      <label class="label">Nome Completo</label>
      <input
        formControlName="name"
        placeholder="Ex: João da Silva"
        class="input-field"
        [class.has-error]="
          form.get('name')?.invalid && form.get('name')?.touched
        "
      />
      <small
        *ngIf="form.get('name')?.invalid && form.get('name')?.touched"
        class="error-msg"
      >
        Nome é obrigatório (mín. 3 chars).
      </small>
    </div>

    <div class="grid-2-col">
      <div>
        <label class="label">Registro Acadêmico (RA)</label>
        <input
          formControlName="ra"
          placeholder="Ex: 123456"
          class="input-field"
          [class.has-error]="form.get('ra')?.invalid && form.get('ra')?.touched"
        />
        <small
          *ngIf="form.get('ra')?.invalid && form.get('ra')?.touched"
          class="error-msg"
        >
          RA é obrigatório.
        </small>
      </div>

      <div>
        <label class="label">Função (Role)</label>
        <select formControlName="role" class="input-field bg-white">
          <option value="Student">Aluno</option>
          <option value="Professor">Professor</option>
          <option value="Admin">Administrador</option>
        </select>
      </div>
    </div>

    <div class="input-group">
      <label class="label">E-mail</label>
      <input
        formControlName="email"
        type="email"
        placeholder="joao@email.com"
        class="input-field"
        [class.has-error]="
          form.get('email')?.invalid && form.get('email')?.touched
        "
      />
      <small
        *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
        class="error-msg"
      >
        E-mail inválido.
      </small>
    </div>

    <div class="input-group" style="margin-bottom: 20px">
      <label class="label">Telefone / Celular</label>
      <input
        formControlName="phoneNumber"
        placeholder="(11) 99999-9999"
        class="input-field"
        [class.has-error]="
          form.get('phoneNumber')?.invalid && form.get('phoneNumber')?.touched
        "
      />
      <small
        *ngIf="
          form.get('phoneNumber')?.invalid && form.get('phoneNumber')?.touched
        "
        class="error-msg"
      >
        Telefone obrigatório.
      </small>
    </div>

    <h4 class="section-title mt-25">Endereço</h4>

    <div class="grid-address">
      <div>
        <label class="label">CEP</label>
        <input
          formControlName="cep"
          (blur)="buscarCep()"
          placeholder="00000-000"
          class="input-field"
          maxlength="9"
          [class.has-error]="
            form.get('cep')?.invalid && form.get('cep')?.touched
          "
        />
      </div>
      <div>
        <label class="label">Logradouro (Rua/Av)</label>
        <input
          formControlName="logradouro"
          placeholder="Av. Brasil"
          class="input-field"
          [class.has-error]="
            form.get('logradouro')?.invalid && form.get('logradouro')?.touched
          "
        />
      </div>
    </div>

    <div class="input-group">
      <label class="label">Bairro</label>
      <input
        formControlName="bairro"
        placeholder="Centro"
        class="input-field"
        [class.has-error]="
          form.get('bairro')?.invalid && form.get('bairro')?.touched
        "
      />
    </div>

    <div class="grid-city-state">
      <div>
        <label class="label">Cidade</label>
        <input
          formControlName="cidade"
          placeholder="Campinas"
          class="input-field"
          [class.has-error]="
            form.get('cidade')?.invalid && form.get('cidade')?.touched
          "
        />
      </div>
      <div>
        <label class="label">UF</label>
        <input
          formControlName="estado"
          placeholder="SP"
          class="input-field"
          maxlength="2"
          style="text-transform: uppercase"
          [class.has-error]="
            form.get('estado')?.invalid && form.get('estado')?.touched
          "
        />
      </div>
    </div>

    <div class="form-actions">
      <button
        type="button"
        class="btn-cancel"
        (click)="onCancel()"
        [disabled]="isSubmitting"
      >
        Cancelar
      </button>

      <button
        type="submit"
        class="btn-submit"
        [disabled]="form.invalid || isSubmitting"
      >
        <span *ngIf="!isSubmitting">{{
          userData ? "Salvar Alterações" : "Cadastrar Usuário"
        }}</span>
        <span *ngIf="isSubmitting">Salvando...</span>
      </button>
    </div>
  </form>
</div>
