<div class="user-card">
  <div class="card-header">
    <div class="user-info-wrapper">
      <h3>{{ user.name }}</h3>

      <span
        class="badge"
        [ngClass]="user.isActive ? 'status-active' : 'status-pending'"
      >
        {{ user.isActive ? "Ativo" : "Pendente" }}
      </span>
    </div>

    <span class="badge role-badge" [style.background]="getRoleColor(user.role)">
      {{ user.role }}
    </span>
  </div>

  <div class="card-body">
    <p>{{ user.email }}</p>
    <p>{{ user.phoneNumber }}</p>

    <p class="detail-text">{{ user.cidade }} - {{ user.estado }}</p>

    <p class="ra-text">
      RA: <strong>{{ user.ra }}</strong>
    </p>
  </div>

  <div class="card-actions" *ngIf="isAdmin">
    <button
      *ngIf="!user.isActive"
      class="btn-email"
      (click)="onResendEmail()"
      title="Reenviar E-mail de Acesso"
    >
      Reenviar E-mail
    </button>

    <button class="btn-edit" (click)="onEdit()">Editar</button>

    <button class="btn-delete" (click)="onDelete()">Excluir</button>
  </div>
</div>
